@import "screwdriver-sponsor/*.png"
@import "powertool-sponsor/*.png"

$screwdriver-sponsor-sprite-dimensions: true
$powertool-sponsor-sprite-dimensions:   true

+all-screwdriver-sponsor-sprites
+all-powertool-sponsor-sprites

#sponsors
  h3
    //color:          #ccc
    //font-size:      small
    //text-align:     right
    //text-transform: uppercase
    //border-bottom:  1px dotted #ccc
    margin-top: 10px

  ul
    +inline-block-list-container
    > li
      +inline-block-list-item
      // FIXME: this does not correspond to grid
      margin-right: 10px
      a
        display: block
        text-indent: -9999px
    &.dudes
      margin-top: 20px
      margin-left: 20px
      a
        text-indent: 0px
