@import 'base'

+blueprint-grid

body
  background-color: #fff
  +blueprint-typography(true)

#container
  +container

#main
  margin-top: 70px
  z-index: 5

section
  +clearfix

header
  position: fixed
  +column(12)
  +last
  +linear-gradient(color-stops(#903, #c03))
  padding: 11px 0 13px 0
  z-index: 99
  top: 0
  height: 26px

  #nav
    li
      +column(2)
    a
      color: #fff
      font-weight: normal
      font-weight: 500
      &.link-active
        font-weight: bold
        color: #fff
        border-bottom: 1px solid #ef413d
    .imp
      margin-left: 30px

  //h1
    +header-text
    +text-shadow(black, 2px, 2px, 5px)
    text-transform: uppercase
    font-size:      12em
    margin-bottom:  0px
    letter-spacing: -0.05em
  //h2
    +text-shadow(black, 1px, 1px, 5px)
    text-transform: uppercase
    letter-spacing: -0.05em

  text-align: center

.box
  +column(8)

  &.white
    +box-shadow(black, 2px, 1px, 5px)
    background-color: #eee
    color:            #000

    h2
      color:          #000

  &.last
    +last
