@import "base"

+blueprint-grid

body
  background: white
  +blueprint-typography(true)

//h1, h2, h3
  font-family: "ff-cocon-web-pro-1","ff-cocon-web-pro-2"

#container
  +container

#main
  margin-top: 70px
  z-index: 5

section
  +clearfix

  > h2
    margin-top: 2em
    border-top: 2px dotted $anthracite

header
  position: fixed
  +column(12)
  +last
  +background(linear-gradient(top, adjust-lightness($carmine, -10%), $carmine))
  +border-bottom-radius(10px)
  z-index:  99
  top:      0
  height:   40px

  #nav
    li
      font-size:  1.2em
      +column(2)
    a
      color:       white
      text-decoration: none
      font-weight: normal
      font-weight: 500
      +border-top-radius(5px)
      padding:    3px 10px
      &:hover,
      &.link-active
        color:            $carmine
        background-color: white
    .imp
      //margin-left: 30px

#logo
  //background-color: $carmine
  +prepend(1)
  h1
    color:       $carmine
    font-size:   11em
    font-weight: bold
    +single-text-shadow($light-pink, 2px, 2px, 5px)
    letter-spacing: -0.05em
