%section#conference
  %h2 Conference

  
  .span-6.prepend-1
    %h3
      Saturday 28th May –
      %em alternative conference
    %p
      Saturday will feature a more traditional conference format. Talks will be
      decided in advance. There will be <strong>9 slots of 45 minutes</strong>
      available.
    %table
      %head
        %tr
          %td 9:00 AM
          %td Coffee, Light Breakfast
        %tr
          %td 10:00 AM
          %td Talk Slot 1
        %tr
          %td 10:45 AM
          %td Talk Slot 2
        %tr
          %td 11:30 AM
          %td Coffee Break
        %tr
          %td 11:45 AM
          %td Talk Slot 3
        %tr
          %td 12:30 PM
          %td Talk Slot 4
        %tr
          %td 1:15 PM
          %td Lunch
        %tr
          %td 2:00 PM
          %td Talk Slot 5
        %tr
          %td 2:45 PM
          %td Talk Slot 6
        %tr
          %td 3:30 PM
          %td Coffee Break
        %tr
          %td 3:45 PM
          %td Talk Slot 7
        %tr
          %td 4:30 PM
          %td Talk Slot 8
        %tr
          %td 5:15 PM
          %td Beer Break
        %tr
          %td 5:30 PM
          %td Keynote Slot
        %tr
          %td 6:15 PM
          %td
            %em Schluss
    %p
      %em Call for proposals information will be added shortly.

  .span-6.prepend-1

    %h3
      Sunday 29th May –
      %em 100% open space
    = image_tag 'open-space.png'
    %p
      On Sunday everything will be decided on the day itself. In principle we
      suggest lightning talks of about 15 minutes, plus workshops.
    %p
      Reach for the <em>alka-seltzer</em>. Provided you can get yourself along
      for 10am, you'll have a chance to shape the day yourself and bring your
      own ideas.

    %table
      %head
        %tr
          %td 9:30 AM
          %td Coffee, Light Breakfast
        %tr
          %td 10:00 AM
          %td Workshop, Lightning Talks 1
        %tr
          %td 11:30 AM
          %td Coffee Break
        %tr
          %td 11:45 AM
          %td Workshop, Lightning Talks 2
        %tr
          %td 1:15 PM
          %td Lunch
        %tr
          %td 2:00 PM
          %td Workshop, Lightning Talks 3
        %tr
          %td 3:30 PM
          %td Coffee Break
        %tr
          %td 3:45 PM
          %td Workshop, Lightning Talks 4
        %tr
          %td 5:15 PM
          %td Beer Break
        %tr
          %td 5:30 PM
          %td Workshop, Lightning Talks 5
        %tr
          %td 6:15 PM
          %td
            %em Schluss

    %p
      = link_to 'Format Ideas', 'https://github.com/myabc/eurucamp_website/wiki/Format-Ideas'
      = link_to 'Talk / Workshop Ideas', 'https://github.com/myabc/eurucamp_website/wiki/Talk-ideas'

  .span-3
