%section#contact
  %h2 Contact
  .span-6.prepend-1
    %p
      Please feel free to contact us. We are looking forward to it.
      %br/
    #summary
      %ul
    #summary2
      %ul
  .span-4.prepend-2
    %img.mb25{:alt => "contact_person", :height => "40", :src => "http://placehold.it/240x40", :width => "240"}/
    .vcard
      .email
        %span email
        info@eurucamp.org
