%section#conference
  %h2 Conference

  .span-10.prepend-1.append-1.last
    %h3 What’s <strong>eurucamp</strong>?
    %p
      Much like you, we’ve noticed a huge amount of interest in <a
      href="http://euruko2011.org/">EuRuKo</a> this year and a lot of people
      (including the organisers of <strong>eurucamp</strong>) weren't able to
      get tickets. So we've assembled an alternative programme for those who
      want to come to Berlin and hear about, talk about and hack about (with)
      Ruby.

    %p
      Whoever told you you can't have it both ways was wrong. Our goal is to
      bring together the best of both worlds, and as such we're combining two
      different formats for <strong>eurucamp</strong>.

  .span-5.prepend-1
    %h3
      Saturday 28th May –
      %em alternative conference
    %p
      Saturday will feature a more traditional conference format. Talks will be
      decided in advance. There will be <strong>9 slots of 45 minutes</strong>
      available.
    %table
      %tbody
        %tr
          %td 9:00 AM
          %td Coffee
        %tr
          %td 10:00 AM
          %td=link_to 'Ruby for Tinkerers and Artists', 'https://github.com/myabc/eurucamp_website/wiki/Ruby-for-Tinkerers-and-Artists'
        %tr
          %td 10:45 AM
          %td Data.js - Data Manipulation and Graph Persistence for the Browser (and Node.js)
        %tr
          %td 11:30 AM
          %td Coffee Break
        %tr
          %td 11:45 AM
          %td ChiliProject, part functionality and upcoming challenges
        %tr
          %td 12:30 PM
          %td=link_to 'Tweak your Ruby consoles – 2011 edition', 'https://github.com/myabc/eurucamp_website/wiki/Tweak-your-Ruby-consoles-2011-edition'
        %tr
          %td 1:15 PM
          %td Lunch
        %tr
          %td 2:00 PM
          %td Travis CI - distributed continuous integration for the Ruby community link_to '
        %tr
          %td 2:45 PM
          %td DataMapper - Past, Present and Future
        %tr
          %td 3:30 PM
          %td Coffee Break
        %tr
          %td 3:45 PM
          %td Apps & API nuts & bolts
        %tr
          %td 4:30 PM
          %td=link_to 'Going Virtual - managing virtual machines with vagrant and ruby', 'https://github.com/myabc/eurucamp_website/wiki/Going-virtual---managing-virtual-machines-with-vagrant-and-ruby'
        %tr
          %td 5:15 PM
          %td Beer Break
        %tr
          %td 5:30 PM
          %td=link_to 'Padrino Framework', 'https://github.com/myabc/eurucamp_website/wiki/Padrino-framework'
        %tr
          %td 6:15 PM
          %td
            %em Schluss
        %tr
          %td 7:00 PM
          %td
            %em Pizza
        %tr
          %td 9:00 PM
          %td
            %em Party at “Tante Käthe”: <a href="http://euruko2011.org/agenda.html#party" target="_blank">eurucamp – EuRuKo Party</a>


  .span-5

    %h3
      Sunday 29th May –
      %em 100% open space
    = image_tag 'open-space.png'
    %p
      On Sunday everything will be decided on the day itself. In principle we
      suggest lightning talks of about 15 minutes, plus workshops.
    %p
      Reach for the <em>alka-seltzer</em>. Provided you can get yourself along
      for 10am, you'll have a chance to shape the day yourself and bring your
      own ideas.

    %table
      %head
        %tr
          %td 9:30 AM
          %td Coffee
        %tr
          %td 10:00 AM
          %td Workshop, Lightning Talks 1
        %tr
          %td 11:30 AM
          %td Coffee Break
        %tr
          %td 11:45 AM
          %td Workshop, Lightning Talks 2
        %tr
          %td 1:15 PM
          %td Lunch
        %tr
          %td 2:00 PM
          %td Workshop, Lightning Talks 3
        %tr
          %td 3:30 PM
          %td Coffee Break
        %tr
          %td 3:45 PM
          %td Workshop, Lightning Talks 4
        %tr
          %td 5:15 PM
          %td Beer Break
        %tr
          %td 5:30 PM
          %td Workshop, Lightning Talks 5
        %tr
          %td 6:15 PM
          %td
            %em Schluss

    %p
      = link_to 'Format Ideas', 'https://github.com/myabc/eurucamp_website/wiki/Format-Ideas'
      = link_to 'Talk / Workshop Ideas', 'https://github.com/myabc/eurucamp_website/wiki/Talk-ideas'

  .span-3
