%section#location
  %h2 Location
  .span-6.prepend-1
    %h3 betahaus berlin
    #map_canvas{:style => "width: 400px; height: 400px;"}
  .span-5.last
    %h3 <a href="http://betahaus.de/">http://betahaus.de/</a>
    %address
      %strong betahaus berlin<br>
      Prinzessinnenstraße 19-20<br>
      10969 Berlin
    %p
      %span.line(style="background-color:#181953")U8
      Moritzplatz
    %ul
      %li.bvg
        <iframe frameborder="0" style="width:300px;height:196px;border:0;" src="http://www.bvg.de/index.php/de/widgets/fahrinfo/1/300/1/Prinzessinnenstra%C3%9Fe%2019"></iframe>
      %li
        %h6
          To / from EuRuKo venue:<br>
        %span.line(style="background-color:#181953")U8
        from Moritzplatz to Alexanderplatz<br>
        %span.line(style="background-color:#5B1F10")U5
        from Alexanderplatz to Schillingstraße
      %li
        %h6
          To / from Pizzeria Masaniello, Hasenheide 20, 10967 Berlin
        %span.line(style="background-color:#181953")U8
        from Moritzplatz to Hermannplatz<br>
      %li
        %h6
          To / from GitHub Meetup, Prater Biergarten, Kastanienallee 7 - 9, 10435 Berlin:
        %span.line(style="background-color:#181953")U8
        from Moritzplatz to Alexanderplatz<br>
        %span.line(style="background-color:#ff0000")U2
        from Alexanderplatz to Eberswalder Straße
