%section#location
  %h2 Location
  .span-6.prepend-1
    %h3 betahaus berlin
    #map_canvas{:style => "width: 400px; height: 400px;"} 
  .span-5.last
    %h3 <a href="http://betahaus.de/">http://betahaus.de/</a>
    %address
      %strong betahaus berlin
      Prinzessinnenstraße 19-20
      10969 Berlin
    %p
      %img(src='http://www.bvg.de/index.php/de/binaries/asset/icon/18099/icon') Moritzplatz U8
    %ul
      %li
        Mit U-Bahn:
        http://www.bvg.de/
      %li
        To / from EuRuKo venue:
        U8 from Moritzplatz to Alexanderplatz
        U5 from Alexanderplatz to Schillingstraße
      %li
        To / from Pizza (dinner) venue
      %li.bvg
        <iframe frameborder="0" style="width:300px;height:196px;border:0;" src="http://www.bvg.de/index.php/de/widgets/fahrinfo/1/300/1/Prinzessinnenstra%C3%9Fe%2019"></iframe>
