%section#location
  %h2 Location
  .span-6.prepend-1
    %h3 betahaus berlin
    %img{:src => 'http://maps.google.com/maps/api/staticmap?center=Prinzessinnenstra%C3%9Fe+19-20+10969+Berlin&zoom=16&size=400x400&sensor=false'}
  .span-5.last
    %h3 http://betahaus.de/
    %address
      %strong betahaus berlin
      Prinzessinnenstraße 19-20
      10969 Berlin
    %p
      U-Bahn: Moritzplatz U8
    %ul
      %li
        Mit U-Bahn:
        http://www.bvg.de/
      %li
        To / from EuRuKo venue:
        U8 from Moritzplatz to Alexanderplatz
        U5 from Alexanderplatz to Schillingstraße
