%section#people
  %h2 People
  %div
    .span-3.prepend-1
      %h3 Who's organising
      %a{:href => "http://twitter.com/#!/myabc", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/myabc"}/
      %a{:href => "http://twitter.com/#!/benjaminmateev", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/benjaminmateev"}/
      %a{:href => "http://twitter.com/#!/crekev71", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/crekev71"}/

      %h3 Who's contributed
      %a{:href => "http://twitter.com/#!/sarahlincoln", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/sarahlincoln"}/
      %a{:href => "http://twitter.com/#!/diggler3000", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/diggler3000"}/
      %a{:href => "http://twitter.com/#!/wordgraphy", :target => "_blank"}
        %img{:src => "http://api.twitter.com/1/users/profile_image/wordgraphy"}/

    .span-4
      %h3 Who's coming
      .span-3
        %a{:href => "http://twitter.com/#!/a2800276", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/a2800276"}/
        %a{:href => "http://twitter.com/#!/abuiles", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/abuiles"}/
        %a{:href => "http://twitter.com/#!/alpinegizmo", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/alpinegizmo"}/
        %a{:href => "http://twitter.com/#!/andypsilon", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/andypsilon"}/
        %a{:href => "http://twitter.com/#!/aofner", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/aofner"}/
        %a{:href => "http://twitter.com/#!/batdevis", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/batdevis"}/
        %a{:href => "http://twitter.com/#!/captainhagbard", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/captainhagbard"}/
        %a{:href => "http://twitter.com/#!/carlosmoutinho", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/carlosmoutinho"}/
        %a{:href => "http://twitter.com/#!/chrismcg", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/chrismcg"}/
        %a{:href => "http://twitter.com/#!/cubbi", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/cubbi"}/
        %a{:href => "http://twitter.com/#!/dasgib", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/dasgib"}/
        %a{:href => "http://twitter.com/#!/der_kronn", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/der_kronn"}/
        %a{:href => "http://twitter.com/#!/dira_geek_girl", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/dira_geek_girl"}/
        %a{:href => "http://twitter.com/#!/dirksiemers", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/dirksiemers"}/
        %a{:href => "http://twitter.com/#!/eamodeorubio", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/eamodeorubio"}/
        %a{:href => "http://twitter.com/#!/eeppa", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/eeppa"}/
        %a{:href => "http://twitter.com/#!/effkay", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/effkay"}/
        %a{:href => "http://twitter.com/#!/entropyfw", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/entropyfw"}/
        %a{:href => "http://twitter.com/#!/evilchelu", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/evilchelu"}/
        %a{:href => "http://twitter.com/#!/fbandov", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/fbandov"}/
        %a{:href => "http://twitter.com/#!/felipeelias", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/felipeelias"}/
        %a{:href => "http://twitter.com/#!/ferblape", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/ferblape"}/
        %a{:href => "http://twitter.com/#!/florianvallen", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/florianvallen"}/
        %a{:href => "http://twitter.com/#!/galfert", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/galfert"}/
        %a{:href => "http://twitter.com/#!/halfbyte", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/halfbyte"}/
        %a{:href => "http://twitter.com/#!/harryfk", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/harryfk"}/
        %a{:href => "http://twitter.com/#!/henrikberggren", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/henrikberggren"}/
        %a{:href => "http://twitter.com/#!/heragu", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/heragu"}/
        %a{:href => "http://twitter.com/#!/ialcazar", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/ialcazar"}/
        %a{:href => "http://twitter.com/#!/ifesdjeen", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/ifesdjeen"}/
        %a{:href => "http://twitter.com/#!/j2vidal", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/j2vidal"}/
        %a{:href => "http://twitter.com/#!/jacekbecela", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/jacekbecela"}/
        %a{:href => "http://twitter.com/#!/jkwebs", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/jkwebs"}/
        %a{:href => "http://twitter.com/#!/josephwilk", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/josephwilk"}/
        %a{:href => "http://twitter.com/#!/juliancheal", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/juliancheal"}/
        %a{:href => "http://twitter.com/#!/klaste", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/klaste"}/
        %a{:href => "http://twitter.com/#!/klickmich", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/klickmich"}/
        %a{:href => "http://twitter.com/#!/koos", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/koos"}/
        %a{:href => "http://twitter.com/#!/leipeleon", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/leipeleon"}/
        %a{:href => "http://twitter.com/#!/lmmendes", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/lmmendes"}/
        %a{:href => "http://twitter.com/#!/localeapp", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/localeapp"}/
        %a{:href => "http://twitter.com/#!/manufaktor", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/manufaktor"}/
        %a{:href => "http://twitter.com/#!/maser", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/maser"}/
        %a{:href => "http://twitter.com/#!/matthewling", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/matthewling"}/
        %a{:href => "http://twitter.com/#!/mcberros", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/mcberros"}/
        %a{:href => "http://twitter.com/#!/mikejust", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/mikejust"}/
        %a{:href => "http://twitter.com/#!/mseppae", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/mseppae"}/
        %a{:href => "http://twitter.com/#!/muescha", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/muescha"}/
        %a{:href => "http://twitter.com/#!/piotrgega", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/piotrgega"}/
        %a{:href => "http://twitter.com/#!/priithaamer", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/priithaamer"}/
        %a{:href => "http://twitter.com/#!/punkrats", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/punkrats"}/
        %a{:href => "http://twitter.com/#!/purbon", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/purbon"}/
        %a{:href => "http://twitter.com/#!/ralph", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/ralph"}/
        %a{:href => "http://twitter.com/#!/rbjl", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/rbjl"}/
        %a{:href => "http://twitter.com/#!/sabman", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/sabman"}/
        %a{:href => "http://twitter.com/#!/salesking", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/salesking"}/
        %a{:href => "http://twitter.com/#!/skddc", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/skddc"}/
        %a{:href => "http://twitter.com/#!/sven_kr", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/sven_kr"}/
        %a{:href => "http://twitter.com/#!/tassmann", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/tassmann"}/
        %a{:href => "http://twitter.com/#!/TheDeadSerious", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/TheDeadSerious"}/
        %a{:href => "http://twitter.com/#!/thegcat", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/thegcat"}/
        %a{:href => "http://twitter.com/#!/tigrish", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/tigrish"}/
        %a{:href => "http://twitter.com/#!/tow8ie", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/tow8ie"}/
        %a{:href => "http://twitter.com/#!/zomoco", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/zomoco"}/
        %a{:href => "http://twitter.com/#!/_solnic_", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/_solnic_"}/
        %a{:href => "http://twitter.com/#!/_tomash", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/_tomash"}/
        %a{:href => "http://twitter.com/#!/__snusnu__", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/__snusnu__"}/

    .span-4.last
      %h3 And what they're saying…
      :javascript
        new TWTR.Widget({
          version:  2,
          type:     'search',
          rpp:      7,
          search:   'eurucamp',
          title:    'Live Search',
          subject:  '#eurucamp',
          interval: 6000,
          width:    250,
          height:   250,
          theme:    eurucamp.theme,
          features: eurucamp.twitterFeatures
        }).render().start();
