%section#people
  %h2 People
  %div
    .span-6.prepend-1
      %h3 Who's organising
      %ul
        %li Alex Coles
        %li Benjamin Mateev
        %li Christian Requena

      %h3 Who's contributed
      %ul
        %li Sarah Lincoln
        %li Dirk Schmid
        %li Guillermo Tirelli

    .span-7.append-1.last
      %h3 Who's coming
      %p
        %em Public attendee list will be added shortly…

    
