%section#people
  %h2 People
  %div
    .span-3.prepend-1
      %h3 Who's organising
      %ul
        %li Alex Coles
        %li Benjamin Mateev
        %li Christian Requena

      %h3 Who's contributed
      %ul
        %li Sarah Lincoln
        %li Dirk Schmid
        %li Guillermo Tirelli

    .span-4
      %h3 Who's coming
      %p
        %em Public attendee list will be added shortly…

    .span-4.last
      %h3 And what they're saying…
      :javascript
        new TWTR.Widget({
          version:  2,
          type:     'search',
          rpp:      7,
          search:   'eurucamp',
          title:    'Live Search',
          subject:  '#eurucamp',
          interval: 6000,
          width:    250,
          height:   250,
          theme:    eurucamp.theme,
          features: eurucamp.twitterFeatures
        }).render().start();
