%section#register
  %h2 register
  .prepend-1.span-12
    %p
      We opened registration twice in April. On May 27th (from 14:00 Berlin
      Time, CEST / 12:00 GMT), a limited number of last minute tickets are
      available for people who still want to come.
    <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/EURUCAMP.html?viewType=iframe&panelId=979187&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame979187cUMdgjXj" id="_amiandoIFrame979187cUMdgjXj"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe><p style="text-align: left; font-size:10px;"><a href="http://www.amiando.com" target="_blank" alt="Online Event Registration" title="Online Event Registration" >Online Event Registration</a> with amiando</p>
