:javascript
  var eurucamp;
  eurucamp = {
    theme: {
      shell: {
        background: '#ffffff',
        color:      '#ff003f'
      },
      tweets: {
        background: '#ffffff',
        color:      '#30070c',
        links:      '#ff003f'
      }
    },
    twitterFeatures: {
      scrollbar: false,
      loop:      false,
      live:      true,
      hashtags:  true,
      timestamp: true,
      avatars:   true,
      behavior:  'default'
    }
  }

%section#splash
  #logo
    %h2
      Berlin 2011
      %br
      Saturday 28th – Sunday 29th May
    / = image_tag 'pickaxe.jpg'
    %h1
      euru
      %br
      camp

= partial 'conference'
-#= partial 'news'
= partial 'people'
= partial 'contact'
