%section#splash
  #logo
    = image_tag 'tools.png'
    %h1 eurucamp
  .span-5.append-1
    %h3 What's <strong>eurucamp</strong>?
    %p
      Just like you, we noticed a huge amount of interest in <a href="http://euruko2011.org/">EuRuKo</a>
      this year and a lot of people (including the organisers of <strong>eurucamp</strong>) weren't able
      to get tickets.
    %p
      So we're assembling an alternative programme for those who want to come to Berlin and hear about,
      talk about and hack about (with) Ruby.
    %p
      As far as possible, we'll coordinate the social events with the EuRuKo organisers, so you'll still
      have a chance to meet up with those attending.

  .span-3.last.mt75
    %ul.circle
      %li.des
        A Barcamp-style event consisting of workshops and hack-spaces.
      %li.fle
        Depending on interest, an alternative line up of talks.

  .span-3.last.mt75
    %ul.circle
      %li.bui
        BLAH
      %li.wel
        BLAH

%section#conference
  %h2 Conference
  .span-6.prepend-5.append-1
    %img{:alt => "conference1", :height => "112", :src => "http://placehold.it/370x112", :width => "370"}/
  .span-6.prepend-6
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
  .span-5.append-7.mt25.mb75
    %h3.red it's your space!
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
  %div
    .span-8.append-1.mb75
      %img{:alt => "floor-plan-empty", :height => "369", :src => "http://placehold.it/639x369", :width => "639"}/
    .span-3.mt150
      %ul.plan
        %li.active Lorem ipsum dolor sit amet
        %li consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %li labore et dolore magna aliqua. Ut enim ad minim veniam,
        %li quis nostrud exercitation ullamco laboris nisi ut aliquip ex
  %div
    .span-6.mb25.mt25
      %img{:alt => "illustration-1", :height => "562", :src => "http://placehold.it/472x562", :width => "472"}/
    .span-5.prepend-1.mb25
      %h3.redlist
        conference info
      %ul.conference
        %li Lorem ipsum dolor sit amet
        %li consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %li labore et dolore magna aliqua. Ut enim ad minim veniam,
        %li quis nostrud exercitation ullamco laboris nisi ut aliquip ex

%section#concept
  %h2 Concept
  .span-12.last.bigillu
    .prepend-1.span-6.last.append-5
      %img{:alt => "", :height => "57", :src => "http://placehold.it/445x57", :width => "445"}/
    .span-6.append-6
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum.
    .span-5.append-7.mt290
      %h3.red2 conference info
  .span-12.last
    .span-5.append-1
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum.
    .span-5.append-1.last.mt25
      %h3.red conference info
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum.
        %br/
        %br/

%section#location
  %h2 Location
  %div
    .span-4.prepend-5.append-3
      %img{:alt => "well_connected", :height => "43", :src => "http://placehold.it/240x43", :width => "240"}/
    .span-6.prepend-6.mt25
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
  %div
    .span-8.mt50
      %img{:alt => "map", :height => "498", :src => "http://placehold.it/649x498", :width => "649"}/
    .prepend-1.span-3.mt50

    .span-4.mt25
      %ul.gmaps
        %li Lorem ipsum dolor sit amet
        %li consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %li labore et dolore magna aliqua. Ut enim ad minim veniam,
        %li quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    .prepend-8.span-3.append-1.last
      %a{:href => "http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=amsterdam&aq=&sll=51.151786,10.415039&sspn=22.955269,57.084961&ie=UTF8&hq=&hnear=Amsterdam,+Nordholland,+Niederlande&ll=52.334683,4.931611&spn=0.002734,0.006968&t=h&z=18&layer=c&cbll=52.334724,4.931732&panoid=cywXExG4gg6rVfNSh5bWzA&cbp=12,125.63,,0,1.81", :class => "button google bt1"}


%section#contact
  %h2 Contact
  .span-6
    %p.mb25
      Please feel free to contact us. We are looking forward to it.
      %br/
    #summary
      %ul
    #summary2
      %ul
  .span-4.prepend-2.mt70
    %img.mb25{:alt => "contact_person", :height => "40", :src => "http://placehold.it/240x40", :width => "240"}/
    .vcard
      .email
        %span email
        info@eurucamp.org
